---
title: Madhusudan Upadhyay
---

<section class="hero diagonal">
	<div class="container halves">
		 <div>
			<h1 class="editable" style="font-size:10vw">Hi, Welcome</h1>
			<p class="subtext editable">It's me <a href="https://madhusudanupadhyay.com.np/"> <strong>Madhusudan Upadhyay</strong></a>.</p>
			<H5><p>An innovative and passionate IT specialist and Content Writer.</p> </H5>
			</div>
		<div>
			<ul class="image-grid">
					<img src="/images/onlylogo.svg"></a>
					
				</ul>
			</div>
	</div> 
		
</section>

<section class="diagonal patterned">
	<div class="container halves">
		<div>
			<h3 class="editable">Featured Post</h3>
			<p class="editable">Scroll Down for more content</p>
			<!-- <p class="editable"><a href="{{ site.baseurl }}/blog/">View Full Blog &rarr;</a></p> -->
		</div>
		<div>
			<ul class="image-grid">
				{% for post in site.posts limit: 1 %}
					<li><a href="{{ site.baseurl }}{{ post.url }}"><img src="{% include relative-src.html src=post.image_path %}"></a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>

<section class="diagonal alternate">
	<div class="container halves">
		<div>
			<h3 class="editable">Some of our work</h3>
			<p class="editable">Here are my blog content.</p>
			<p class="editable"><a href="{{ site.baseurl }}/blog/">View Full Blog &rarr;</a></p>
		</div>
		<div>
			<ul class="image-grid">
				{% for post in site.posts limit: 4 %}
					<li><a href="{{ site.baseurl }}{{ post.url }}"><img src="{% include relative-src.html src=post.image_path %}"></a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section> 
