<!-- Slideshow container -->
<div class="slideshow-container">
    <!-- Full-width images with number and caption text -->
    <div class="mySlides fade">
      <div class="numbertext">1 / 4</div>
      <img src="{{ '/images/me.jpg' | relative_url }}"/>
      <div class="text">Pokhara</div> 
    </div>
    <div class="mySlides fade">
      <div class="numbertext">2 / 4</div>
      <img src="{{ '/images/me3.jpg'  | relative_url }}"/>
      <div class="text">Syangja</div>
    </div>
    <div class="mySlides fade">
      <div class="numbertext">3 / 4</div>
      <img src="{{ '/images/me.jpg' | relative_url }}"/>
      <div class="text">Pokhara</div> 
    </div>
    <div class="mySlides fade">
      <div class="numbertext">4 / 4</div>
      <img src="{{ '/images/me3.jpg' | relative_url }}"/>
      <div class="text">Syangja</div>
    </div>
  </div>
  <br />
  <script type="text/javascript" src="{{'/js/slideshow_script.js' | relative_url }}">
    showSlides();
  </script>